<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.8.9" targetFramework="net40" />
  <package id="Common.Logging" version="3.4.1" targetFramework="net40" />
  <package id="Common.Logging.Core" version="3.4.1" targetFramework="net40" />
  <package id="iTextSharp" version="5.5.13.2" targetFramework="net40" />
  <package id="Portable.BouncyCastle" version="1.9.0" targetFramework="net48" />
</packages>